<div class="top-page">
    <div class="left-div">
        <h1>WORLD CUP SIMULATION</h1>
        <app-button (onClick)="onStart($event)" buttonText="START WORLD CUP" [buttonValue]=true></app-button>
    </div>
    <div class="right-div">
        <img src="../../../assets/back-2.jpg" alt="">
    </div>
</div>
<div class="sections">
    <div>
        <img src="../../../assets/section1.png" alt="">
    </div>
    <div>
        <p>Create your Championship: “Start creating your own championship. Choose the number of teams, define the format and start the simulation.”</p>
    </div>
</div>
<div class="sections">
    <div>
        <p>Classification: “Follow the classification of teams in the championship. Who's at the top? Who is at risk of relegation?”</p>
    </div>
    <div>
        <img src="../../../assets/trophy.png" alt="">
        
    </div>
</div>
