.container {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    // background-image: url("../assets/1288503.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #060b11;
    background-size: cover;

    .home-page {
        max-width: 60vw;
        min-height: 100vh;
        padding: 0;
        margin: 0 auto;
        background-color: #060b11a2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}