.form-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;

    app-button {
        margin: 0 20px;
    }
}